.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-fit {
  height: fit-content;
}
